/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 150%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 112.5%;
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%;
    }
}
/* --END--BOX-SIZING AND REM CONFIG-- */