/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 150%; /* 1rem=24px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 137.5%; /* 1rem=22px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 125%; /* 1rem=20px */
    }
}

body {
    font-size: 1rem;
}
/* --END--BOX-SIZING AND REM CONFIG-- */