/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 125%; /* 1rem=20px */
    box-sizing: border-box;
}

@media (max-width: 1366px) {
    html {
        font-size: 112.5%; /* 1rem=18px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%; /* 1rem=16px */
    }
}

body {
    font-size: 1rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
/* --END--BOX-SIZING AND REM CONFIG-- */